// Material Forms

@import "@material/textfield/mdc-text-field";
@import "@material/select/mdc-select";
@import "@material/notched-outline/mdc-notched-outline";
@import "@material/radio/mdc-radio";
@import "@material/form-field/mdc-form-field";
@import "@material/textfield/helper-text/mdc-text-field-helper-text";
@import "@material/textfield/icon/mdc-text-field-icon";
@import "@material/floating-label/mdc-floating-label";
@import "@material/checkbox/mdc-checkbox";
@import "@material/switch/mdc-switch";

[type="file"] {
    position: relative;
}

#file-upload-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}