@import "variables";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@import "./mixins";
@import "./buttons";
@import "./navbar.scss";
@import "./lists";
@import "./drawers.scss";
@import "./tooltip.scss";
@import "./typography";
@import "./menus";
@import "./animations";
@import "./forms";
@import "./popup.scss";
@import "./cards";
@import "./tables.scss";
@import "./tabs";
@import "./chips.scss";

@import "@material/elevation/mdc-elevation";
@import "@material/animation/functions";
@import '@material/theme/mdc-theme';
@import "@material/layout-grid/mdc-layout-grid";

@import "@material/animation/variables";

// Note: Custom CSS lives below
body {
    display: flex;
    height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
}


// only apply this style if below top app bar
.mdc-top-app-bar {
    z-index: 7;
}

.mdc-img__fluid {
    max-width: 100%;
    height: auto;
}

.d-flex {
    display: flex;
}

.sg-button {
    padding: 0%;
    transition: 0.3s all ease-in;

    &--round {

        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 5px solid $mdc-theme-primary;
        }

    }

}

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.campaign-card {
    border-radius: $radius;
    padding-left: 25px;
    padding-right: 25px;
    border: 0.5px solid $gray;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: 0.3s all ease-in;

    &:hover {
        box-shadow: 3px 3px $mdc-theme-primary;
    }

    &__footer {
        display: flex;
        padding: 2%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.text-green {
    color: green;
}

.bg-orange {
    background-color: $mdc-theme-secondary;
}